<br />
<br />
<h2>OrderLineItem details</h2>
<br />
<br /> ID:
<%=  orderLineItem.orderID %>
<%=  orderLineItem._id%>
<br> Number:
<%=orderLineItem.lotNumber%>
<br /> Product Name:
<%=orderLineItem.productKey%>
<br /> Quantity (No`s):
<%=orderLineItem.quantity%>
<br />
<br />

<form method="get" action="http://localhost:8081/orderLineItem">
    <input type="submit" value="Return to list" class="btn btn-caution" />
</form>