<br />
<br />
<h2>Confirm deletion of order</h2>
<br />
<br /> Order ID:
<%=  order._id %>
<br /> email:
<%=  order.email %>
<br /> Date Placed:
<%=order.datePlaced%>
<br />  datetobetaken:
<%=order. datetobetaken%>
<br /> Payment Type:
<%=order.paymentType%>
<br /> Paid:
<%=order.paid%>
<br />
<br />

<form method="get" action="/order">
  <input type="submit" value="Return to list" class="btn btn-caution" />
</form>

<br />