
<div class=row>
    <div class="col col-xs-12">
      <div class="form-group">
        <label for="firstname">EMail</label>
        <input type="text" class="form-control" id="EMail" name="EMail" value="<%= order.email %>" required>
      </div>
      <div class="form-group">
        <label for="datePlaced">Date Placed</label>
        <input type="date" class="form-control" id="datePlaced" name="datePlaced" value="<%= order.datePlaced %>"
          required>
      </div>
      <div class="form-group">
        <label for="datetobetaken">Date Shipped</label>
        <input type="date" class="form-control" id="datetobetaken" name="datetobetaken" value="<%= order.datetobetaken %>">
      </div>
      <div class="form-group">
        <label for="paymentType">Payment Type</label>
        <input type="text" class="form-control" id="paymentType" name="paymentType" value="<%= order.paymentType %>">
      </div>
      <div class="form-group">
        <label for="paid">Paid</label>
        <input type="text" class="form-control" id="paid" name="paid" value="<%= order.paid %>" required>
      </div>
    </div>
  </div>